.btn-warning {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #ec8427;
    background-image: linear-gradient(180deg,#eb7b18,#ee903e);
    background-repeat: repeat-x;
    border-color: #eb7b18;
}

.btn-link {
    background: #DDDDDD;
}

.navbar-button--primary {
    display: inline-block;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #00678b;
    background-image: linear-gradient(180deg,#005f81,#00729b);
    background-repeat: repeat-x;
    border-color: #005f81;
}

.panel-container{
    background-color: #171819;
    border: 1px solid #333;
}

.danger-text{
    color: red;
}

.yellow-text{
    color: gold;
}

.node-prob-color{
    color: #e0643a;
}

.class-width-100{
    width: 100%;
}

.padding-left-3{
    padding-left: 3%;
}

.class-margin-1{
    margin:1%;
}

.split-80-div{
    width: 80%;
    float: left;
    display: inline-block;
}

.split-20-div{
    width: 20%;
    display: inline-block;
}

.bottom-1-margin{
    margin-bottom: 1%;
}

.top-1-margin{
    margin-top: 1%;
}

#edit-nodes{
    height: 40%;
    padding: 0% 0% 5% 0% !important;
}

#network-settings{
    border-bottom: 1px solid #333;
}

#choose-net select{
    width: 100%;
}

#choose-net,#selected-net{
    height: 65%;
}

#choose-source,#selected-database{
    height: 30%;
}

#choose-net, #choose-source{
    border-right: 1px solid #333;
}

#choose-source select{
    width: 100%;
}

#temporal-policy{
    display: -webkit-box !important;
}

.width-20-perc{
    width: 20%;
}

.width-30-perc{
    width: 30%;
}

.width-40-perc{
    width: 40%;
}

.width-60-perc{
    width: 60%;
}

.width-80-perc{
    width:80%;
}

#network-nodes table{
    border-collapse: separate;
    width: 80%;
}

#network-nodes tr{
    border-spacing: 5px 1rem;
}

.td-button{
    width: 40%;
    padding: 1%;
}

#network-nodes td{
    width:30%;
}

#node{
    width: 70%;
    height: 90%;
    color: #111111;
}

#show-prob{
    height: 90%;
}

#show-prob table{
    width: 98%;
    margin: 1%;
    color: #bbbbbb;
    font-size: 100%;
}

#settings-view-prob{
    height: 10%;
    border-bottom: 1px solid #bbbbbb;
    display: flex;
}

#btn-settings, #net-selected{
    float: left;
}

#setting-net{
    height: 18em;
}

#selected-net{
    padding-top: 3%;
}

<!-- message modal -->

.modal-header{
    margin: 2% 2% 0% 2%;
    position: relative;
    height: 10%;
}
.modal-title{
    padding-top: 1%;
    width: 86%;
    float:left;
    height: 100%;
    margin: 2%;
}

.close-modal{
    width: 10%;
    float:left;
}

.modal-body{
    height: 90%;
    padding: 2%;
}
.button-confirm-success{
    width: 100%;
    float:left;
    height: 10%;
    margin: 2% 0%;
}

<!-- tresholdModal -->


.modal-title{
    padding-top: 1%;
    width: 86%;
    float:left;
    height: 100%;
    margin: 2%;
}

.close-modal{
    width: 10%;
    float:left;
}

.modal-body .gf-form{
    margin: 2% 0%;
}

.gf-form-label {
    height: 100%;
}

.height-10{
    height: 10%;
}
.treshold-button-container{
    width: 50%;
    margin: 2% 0%;
}

.treshold-contaier{
    width: 92%;
    padding: 2% 0%;
    margin: 2% 4%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
}
.treshold-container div{
    margin-right: 3%;
}
.treshold-container select{
    max-width: 10%;
}

.treshold-container label{
    min-width: 8% !important;
}

.selective-sign{
    width: auto;
    display: inline-block;
}

.margin-left-5{
    margin-left: 5%;
}

#criticity-checkbox{
    float: left;
    margin: 5%;
}

.padding-top-3{
    padding-top: 3%;
}

<!-- temporal policy -->

.modal-title{
    padding-top: 1%;
    width: 86%;
    float:left;
    height: 100%;
    margin: 2%;
}
.close-modal{
    width: 10%;
    float:left;
}

