<!--
 * File: index.html
 * Creation date: 2019-02-22
 * Author: Bogdan Stanciu
 * Type: HTML
 * Author e-mail: bogdan.stanciu@studenti.unipd.it
 * Version: 0.0.1
 *
 * Changelog:
 * 0.0.1 || Bogdan Stanciu || 2019-02-22 || Snellimento file originale
 *
-->

<div class="section">

    <!-- Error message if not connected to server-->
    <div ng-if="!ctrl.server.connected">
        <h2 class="danger-text">È necessario connettersi al Server per usufruire del plugin. </h2>
    </div>

    <div ng-if=" ctrl.server.connected">
        <div ng-if="!ctrl.panel.visualizingMonitoring">

            <!-- Swap between settings to monitoring -->
            <div id="view-monitoring" class-width-100>
                <button class="btn btn-warning" ng-click="ctrl.visualizeMonitoring()">Visualizza Monitoraggi Attivi</button>
            </div>

            <!-- Network and database selection-->
            <div id="network-settings" class="class-width-100 ">
                <form class="form-class" id="setting-net">
                    <div id="choose-net" class="split-80-div">
                        <h5 align="center" class="section-heading class-margin-1">Seleziona Rete e Sorgente Dati</h5>
                        <!-- Import network from server -->
                        <div id="upload-from-server" class="gf-form bottom-1-margin">
                            <div class="width-30-perc">
                                <span class="gf-form-label">Seleziona rete già caricata</span>
                            </div>
                            <div class="width-30-perc padding-left-3">
                                <select ng-model="selectedNetworkToOpen">
                                    <option ng-repeat="net in ctrl.panel.availableNetworksToLoad">{{net['name']}}</option>
                                </select>
                            </div>
                            <div class="width-40-perc padding-left-3">
                                <button class="btn btn-success" ng-click="ctrl.requestNetworkToServer(selectedNetworkToOpen).then()">Apri</button>
                                <button class="btn btn-danger" ng-click="ctrl.requestNetworkDelete(selectedNetworkToOpen).then()">Elimina</button>
                            </div>
                        </div>
                        <!-- Import network from JSON-->
                        <div id="upload-json-file" class="gf-form bottom-1-margin">
                            <div class="width-30-perc">
                                <span class="gf-form-label">Importa rete da file JSON</span>
                            </div>
                            <div id="upload-json-net" class="width-30-perc padding-left-3">
                                <dash-upload on-upload="ctrl.loadNetwork(dash)" class="class-width-100 ng-isolate-scope class-margin-1">
                                    <input type="file" id="dashupload" name="dashupload" class="hide" ng-change="ctrl.loadNetwork(dash).then()">
                                    <label class="btn btn-success ng-binding" for="dashupload">
                                        <i class="fa fa-upload"></i>
                                        Upload .json File
                                    </label>
                                </dash-upload>
                            </div>
                            <div class="width-40-perc"></div>
                        </div>
                    </div>
                    <!-- Show network selected -->
                    <div align="center" class="split-20-div" id="selected-net" >
                        <p class="yellow-text"> Rete attuale: </p> {{(ctrl.panel.name !== '') ? ctrl.panel.name : 'Nessuna rete selezionata.' }}
                    </div>
                    <!-- Select database-->
                    <div id="choose-source" class="bottom-1-margin margin-top-3 split-80-div">
                        <div id="select-source" class="gf-form bottom-1-margin">
                            <div class="width-30-perc">
                                <span class="gf-form-label">Sorgenti</span>
                            </div>
                            <div class="width-30-perc padding-left-3">
                                <select ng-model="ctrl.panel.selectedDB" >
                                    <option ng-repeat="el in ctrl.panel.availableDatabases">{{el.name}}</option>
                                </select>
                            </div>
                            <div class="width-40-perc padding-left-3 ">
                                <button class="btn btn-success" ng-click="ctrl.connectToDB().then()">Conferma</button>
                            </div>
                        </div>
                    </div>
                    <div align="center" class="split-20-div" id="selected-database">
                        <p class="yellow-text">Sorgente attuale:</p>{{(ctrl.databaseSelected !== null) ? ctrl.databaseSelected  : 'Nessun database selezionato.' }}
                    </div>
                </form>
            </div>

            <!-- Check if network uploaded and database selected and then show nodes-->
            <div id="edit-nodes" class="class-width-100" ng-if="ctrl.panel.nodes !== undefined ">
                <div id="temporal-policy" class="gf-form top-1-margin">
                    <div class="width-20-perc">
                        <span class="gf-form-label">Imposta politica temporale</span>
                    </div>
                    <div class="width-20-perc padding-left-3">
                        <button class="btn navbar-button navbar-button--primary padding-left-3 width-80-perc" ng-click="ctrl.selectTemporalPolicy()">Imposta</button>
                    </div>
                    <div class="width-60-perc">
                        <p>{{(ctrl.panel.temporalPolicyConfirmed === true) ? 'Politica temporale attuale: Ore: ' + ctrl.panel.temporalPolicy.hours + ', Minuti: ' + ctrl.panel.temporalPolicy.minutes + ', Secondi: ' + ctrl.panel.temporalPolicy.seconds : 'Politica temporale non settata.'}}</p>
                    </div>
                </div>

                <!-- Show nodes -->
                <div id="network-nodes" class="top-1-margin class-width-100">
                    <div class="class-width-100">
                        <p>Nodi della Rete </p>
                    </div>
                    <table>
                        <tr ng-repeat="n in ctrl.panel.nodes">
                            <td class="td-button">
                                <button id="node" class="btn btn-link" ng-click="ctrl.showTresholdModal(n)">{{n}}</button>
                            </td>
                            <td>
                                <input ng-model="ctrl.panel.tresholdLinked[n]" type="checkbox" disabled>
                            </td>
                            <td>
                                <button class="btn btn-danger" ng-if="ctrl.panel.tresholdLinked[n]" ng-click="ctrl.deleteLinkToFlush(n)">Scollega Nodo</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- Fino a qua ok-->
                <div id="Footer-button">
                    <button class="btn btn-success" ng-if="!ctrl.panel.monitoring" ng-click="ctrl.startComputation()" type=button>Avvio Monitoraggio</button>
                    <button class="btn btn-danger" ng-if="ctrl.panel.monitoring" ng-click="ctrl.closeComputation()" type=button>Interrompi Monitoraggio</button>
                </div>


            </div>
        </div>
        <div ng-if="ctrl.panel.visualizingMonitoring">
            <div id="settings-view-prob" class="class-width-100 bottom-1-margin">
                <div id="btn-settings" class="class-margin-1">
                    <button ng-click="ctrl.visualizeSettings()" class="btn btn-warning">Visualizza Impostazioni</button>
                </div>
                <div id="net-selected" class="class-margin-1">
                    <select ng-change="ctrl.changeNetworkToVisualizeMonitoring()" ng-model="ctrl.panel.actuallyVisualizingMonitoring">
                        <option ng-repeat="net in ctrl.panel.monitoringNetworks track by $index">{{net}}</option>
                    </select>
                </div>
            </div>
            <div id="show-prob" class="class-width-100">
                <div id="empty-prob">
                    <p class="danger-text">{{(ctrl.panel.calculatedProbabilities === {}) ? 'Nessuna probabilità da mostrare.' :'';}}</p>
                </div>
                <div class="top-1-margin">
                    <table border="2" ng-repeat="n in ctrl.panel.calculatedProbabilities track by $index">
                        <tr>
                            <td align="center" class="width-20-perc" rowspan="2">
                                <h4 class="node-prob-color">{{n.node}}</h4>
                            </td>
                            <td align="center" ng-repeat="s in n.states track by $index">{{s}}</td>
                        </tr>
                        <tr>
                            <td align="center" ng-repeat="p in n.prob track by $index">{{p}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

