
<style>
    .modal-header{
        margin: 2% 2% 0% 2%;
        position: relative;
        height: 10%;
    }
    .modal-title{
        padding-top: 1%;
        width: 86%;
        float:left;
        height: 100%;
        margin: 2%;
    }
    .close-modal{
        width: 10%;
        float:left;
    }
    .modal-body{
        height: 90%;
        padding: 2%;
    }
    .button-confirm-success{
        width: 100%;
        float:left;
        height: 10%;
        margin: 2% 0%;
    }
</style>



<div>
    <div class="modal-header">
        <div class="modal-title">
            <h3><h3>{{title}}</h3></h3>
        </div>
        <div class="close-modal">
            <button class="tabbed-view-close-btn" data-dismiss="modal">
                <i class="fa fa-remove"></i>
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div id="message-text">
            {{message}}
        </div>
        <div class="button-confirm-success">
            <button class="btn btn-danger" data-dismiss="modal">Chiudi</button>
        </div>
    </div>

</div>

