
<div class="editor-row">
	<div class="section gf-form-group">
		<h5 class="section-heading">Indirizzo Server</h5>
		<div class="gf-form">
			<span class="gf-form-label width-7">IP</span>
			<input type="text" class="gf-form-input width-15 ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="ctrl.server.IP">
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-7">Porta</span>
			<input type="text" class="gf-form-input width-15 ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="ctrl.server.port">
		</div>
		<div class="button-confirm-success">
			<button class="btn btn-success" ng-click="ctrl.tryConnectServer()">Connetti</button>
		</div>
	</div>
</div>
