<style>
    .modal-header{
        margin: 2% 2% 0% 2%;
        position: relative;
        height: 10%;
    }
</style>

<div ng-controller="TemporalPolicyCtrl as ctrl">
    <div ng-show="false" ng-init="ctrl.panel = panel;ctrl.pluginId = pluginId;ctrl.modalCreator = modalCreator;"></div>

    <div class="modal-header">
        <div class="modal-title">
            <h3>Politica Temporale</h3>
        </div>
        <div class="close-modal">
            <button class="tabbed-view-close-btn" data-dismiss="modal">
                <i class="fa fa-remove"></i>
            </button>
        </div>
    </div>

    <div class="modal-body">
        <div class="gf-form">
            <span class="gf-form-label width-7">Secondi</span>
            <input class="gf-form-input width-5 ng-valid ng-empty ng-dirty ng-valid-number ng-touched"  type="number" ng-model="ctrl.panel.temporalPolicy.seconds" ng-change="ctrl.setConfirmationToFalse()">
        </div>
        <div class="gf-form">
            <span class="gf-form-label width-7">Minuti</span>
            <input class="gf-form-input width-5 ng-valid ng-empty ng-dirty ng-valid-number ng-touched"  type="number" ng-model="ctrl.panel.temporalPolicy.minutes" ng-change="ctrl.setConfirmationToFalse()">
        </div>
        <div class="gf-form">
            <span class="gf-form-label width-7">Ore</span>
            <input class="gf-form-input width-5 ng-valid ng-empty ng-dirty ng-valid-number ng-touched"  type="number" ng-model="ctrl.panel.temporalPolicy.hours" ng-change="ctrl.setConfirmationToFalse()">
        </div>
        <div>
            <p class="success-text" ng-if="ctrl.panel.temporalPolicyConfirmed">Politica temporale settata correttamente</p>
            <p class="danger-text" ng-if="ctrl.panel.temporalPolicyConfirmed === false">Polititca temporale non settata</p>
        </div>
        <div class="button-confirm-success">
            <button class="btn btn-success" ng-click="ctrl.setConfirmationToTrue()" data-dismiss="modal">Conferma</button>
        </div>
    </div>
</div>
