
<style>
    .modal{
        max-height: 80% !important;
        overflow-y: auto !important;
    }

    .modal-header{
        margin: 2% 2% 0% 2%;
        position: relative;
        height: 10%;
    }

</style>

<div ng-controller="TresholdsCtrl as ctrl">
    <div ng-show="false" ng-init="ctrl.panel = panel;ctrl.actualNode = actualNode;ctrl.pluginId = pluginId;ctrl.modalCreator = modalCreator;"></div>

    <!-- Title -->
    <div class="modal-header">
        <div class="modal-title">
            <h3>{{actualNode}}</h3>
        </div>
        <div class="close-modal">
            <button class="tabbed-view-close-btn" data-dismiss="modal">
                <i class="fa fa-remove"></i>
            </button>
        </div>
    </div>

    <div class="modal-body">
        <!-- Select flush to link to node -->
        <div class="gf-form height-10">
            <label class="gf-form-label width-6">Tabelle</label>
            <div class="max-width-20 ">
                <select ng-model="ctrl.panel.actualTable">
                    <option ng-repeat="table in ctrl.tablesName()">{{table}}</option>
                </select>
            </div>
        </div>
        <div class="gf-form height-10">
            <label class="gf-form-label width-6">Flussi</label>
            <div class="max-width-20">
                <select ng-model="ctrl.panel.actualFlush">
                    <option ng-repeat="field in ctrl.panel.flussi[ctrl.panel.actualTable]">{{field}}</option>
                </select>
            </div>
        </div>

        <!-- Show all states and possibilities to add tresholds -->
        <div class="treshold-button-container" ng-repeat="el in ctrl.panel.states[actualNode]">
            <button class=" btn btn-inverse" ng-click="ctrl.addTreshold(actualNode,el);ctrl.setNotLinked(ctrl.actualNode);">Aggiungi soglia per {{el}}</button>
        </div>

        <!-- show tresholds -->
        <p>Soglie :</p>

        <!-- Show message if no tresholds are defined -->
        <p class="danger-text" ng-if="ctrl.panel.tresholds[actualNode].length === 0">Nessuna soglia definita.</p>

        <!-- Show tresholds -->
        <div class="gf-form treshold-contaier" ng-repeat="treshold in ctrl.panel.tresholds[actualNode]">
            <label class="gf-form-label width-6">{{treshold.state}}</label>
            <div class="margin-left-5 width-6">
                <select class="alert-rule-list gf-form-input ng-pristine ng-untouched selective-sign" ng-model="treshold.sign" ng-change="ctrl.setNotLinked(ctrl.actualNode);">
                    <option class="alert-rule-item ng-scope" value=">=">>=</option>
                    <option class="alert-rule-item ng-scope" value=">">></option>
                    <option class="alert-rule-item ng-scope" value="<"><</option>
                    <option class="alert-rule-item ng-scope" value="<="><=</option>
                </select>
            </div>
            <div class="margin-left-5 width-6">
                <input class="gf-form-input width-5 ng-valid ng-empty ng-dirty ng-valid-number ng-touched" ng-model="treshold.value" type="number" ng-change="ctrl.setNotLinked(ctrl.actualNode);">
            </div>
            <div class="margin-left-5 width-10 padding-top-3">
                <input id="criticity-checkbox" class="class-margin-1" type="checkbox" ng-model="treshold.critical" ng-change="ctrl.setNotLinked(ctrl.actualNode);">
                <p>Critica</p>
            </div>
            <div class="margin-left-5 width-6">
                <button class="btn btn-inverse" ng-click="ctrl.deleteTreshold(actualNode,treshold.name);ctrl.setNotLinked(ctrl.actualNode);">Remove</button>
            </div>
        </div>

        <!-- Button to confirm changes -->
        <div>
            <div class="success-text" ng-if="ctrl.panel.tresholdLinked[ctrl.actualNode]">Nodo collegato a {{ctrl.panel.flushesAssociations[ctrl.actualNode]}}</div>
            <div class="danger-text"  ng-if="!ctrl.panel.tresholdLinked[ctrl.actualNode]">Nodo attualmente non collegato a flussi dati.</div>
        </div>
        <div class="button-confirm-success">
            <button class="btn btn-success" ng-if="ctrl.panel.tresholds[ctrl.actualNode].length > 0" ng-click="ctrl.confirmTresholdsChanges(actualNode);">Conferma</button>
        </div>
        <!-- Button to delete link if linked -->
    </div>
</div>
